body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.card-post-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}

.post-detail {
  margin-bottom: 30px;
}

.user-detail {
  margin-bottom: 30px;
}

.app-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
}